$background: black;
$background-light: rgb(29, 29, 31);
$background-dark: #151515;

$foreground: white;
$foreground-muted: gray;

$border: #3d3d3d;
$accent: orange;
$error: rgb(219, 70, 70);

$string: rgb(70, 125, 219);
$number: rgb(70, 219, 70);
$boolean: rgb(219, 70, 70);